@charset "utf-8";
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-print-color-adjust: exact}
/* layout */
body {background-color: #f4f6fc;}
.wrapper {}
.header {position: relative;height: 160px;padding-top:33px;background-color: #162550;}
.header::after{content: "";position: absolute;top: 0;left: 0;width: 100%;height: 2px;background-image: linear-gradient(to right, #06d281 0%, #5280e2);}
.header .content {max-width: 1920px;display: flex;justify-content: space-between;margin:0 auto;padding:0 40px;}
.header .content h1 a{display:inline-block;width:177px;height:26px; text-indent:-9999px; background:url('../images/logo.png') no-repeat 0 0;}
.inner_gnb {display: block;width: 100%;text-align: center;}
.list_gnb{display: inline-block;}
.list_gnb li {position: relative;overflow: hidden;float: left;height: 21px;padding: 0 15px 0 16px;text-align: center;}
.list_gnb li::before {content: "";position: absolute;left: 14px;bottom:0;width: calc(100% - 26px);height: 8px;background-color: transparent;border-radius: 5px;transition:all .3s linear}
.list_gnb li::after {content: "";position: absolute;left: 0;top: 8px;width: 1px;height: 7px;background-color: #364c8b;}
.list_gnb li:first-child::after{content: none;}
.list_gnb li a {font-weight: 500;font-size: 15px;color: #9daed2;text-shadow: 0 1px 2px rgba(24, 17, 48, 0.26);transition:all .3s linear}
.list_gnb li a:hover,
.list_gnb li.on a{color:#fff;}
.list_gnb li.on::before {background-color: #21d0b3;}
.list_gnb li span{position:relative;}
.inner_user{margin-left:20px; position:relative;}
/** header fiexd **/
.wrapper.fixed_header{padding-top:160px;}
.wrapper.fixed_header .header {position: fixed;top:0;z-index:1000;width:100%;height: 85px;padding:33px 0 30px;background-color: #fff;}
.wrapper.fixed_header .header::after{content: "";position: absolute;top:auto;bottom: 0;left: 0;width: 100%;height: 2px;background-image: linear-gradient(to right, #06d281 0%, #5280e2);}
.wrapper.fixed_header .header .content h1 a{background-image:url('../images/logo2.png');}
.wrapper.fixed_header .list_gnb li::after {content: "";position: absolute;left: 0;top: 8px;width: 1px;height: 7px;background-color: #dee2e6;}
.wrapper.fixed_header .list_gnb li:first-child::after{content: none;}
.wrapper.fixed_header .list_gnb li a {color: #868e96;text-shadow:none;}
.wrapper.fixed_header .list_gnb li a:hover,
.wrapper.fixed_header .list_gnb li.on a{color:#212529;}
/** 프로필 기본 로그인전 **/
.box_avatar{position:relative;overflow:hidden;width:26px;height:26px;border:1px solid #e9ecef;background-color:#fff;border-radius: 13px;cursor: pointer;}
.box_avatar::before {content: "";position:absolute;top:6px;left:8px; width:8px;height: 8px;border-radius: 4px;background-color: #adb5bd;}
.box_avatar::after {content: "";position: absolute;top: 16px;left: 6px;width: 12px;height: 12px;border-radius: 6px;background-color: #adb5bd;}
/** 프로필 로그인 **/
.box_avatar.login {background-color: #5280e2;}
.box_avatar.login::before,
.box_avatar.login::after {background-color: #fff;}
/** 프로필 로그인전 클릭 **/
.box_avatar.on {border-color:#5280e2;}
.box_avatar.on::before,
.box_avatar.on::after {background-color: #5280e2;}

.box_state{display:none; position:absolute;right:0;top:30px;overflow:hidden;min-width:82px;border-radius:14px;background-color: #fff;font-size:0;text-align: center;white-space: nowrap;box-shadow: 0 0 20px 0 rgba(91, 109, 147, 0.3);z-index:10;}
.box_state .name_user {padding: 10px 20px;border-bottom: 1px solid #e9ecef;font-size: 11px;line-height: 16px;color: #809ac3;}
.btn_login {padding: 0 25px;font-weight: bold;font-size: 11px;line-height: 35px;color: #5280e2;white-space: nowrap}
.btn_logout {padding: 0 25px;font-weight: bold;font-size: 11px;line-height: 35px;color: #809ac3;white-space: nowrap}

.container{position:relative;max-width:1400px;margin:-65px auto 0;background-color: transparent;}
.inner_title{display: flex;justify-content: space-between;align-items: center; height:120px;padding:30px 48px;background-color: #fff;border-radius: 16px;box-shadow: 0 12px 70px 0 rgba(42, 72, 136, 0.1);transition:all .3s linear}
.inner_title h2{font-weight:bold;font-size:22px;line-height:32px;color:#2e5bbb;}
.inner_title .tit_sub{margin-top:8px;font-size:14px;line-height:20px;color:#999;}
.inner_title .box_btn{font-size:0;}
.inner_title .box_btn button{padding:9px 20px 11px;font-size:12px;line-height:20px;border-radius:12px;}
.inner_title .box_btn button + button{margin-left:4px;}
.inner_title .box_btn .btn_secondary{border:1px solid #e1e2e4;background-color:#f1f3f5;color:#687078;}
.inner_title .box_btn .btn_primary{background-color: #212529;color:#fff;}
.inner_title .box_btn .btn_cancel{border:1px solid #e1e2e4;background-color:#fff;color:#687078;}
.inner_title .box_btn .btn_actprimary{border:1px solid #e1e2e4;background-color:#5280e2;color:#fff;}
.inner_title .box_search{display:flex;align-items: center;}
.inner_title .box_search .btn_find{width:48px;height:48px;margin-left:8px;border-radius: 24px;background-color: #212529;}
.deco_select,
.deco_search{overflow:hidden;display:inline-block; cursor:pointer; height:48px;min-width:190px;border:1px solid #e8e8e8;background-color:#fff;}
.deco_select{position:relative;min-width:190px;border-radius:24px;}
.deco_select::after{content:"";position:absolute;top:14px;right:20px;width:20px;height:20px;background-image: url(../images/icon-arrow-down.png); background-position: center; background-repeat: no-repeat;}
.deco_select select {width:100%;height:46px;padding:12px 0;border:0;font-size:15px;line-height:18px;color:#212529;text-indent:24px;}
.deco_select select:focus-visible,
.deco_search input{outline:0;}
.deco_select select::-ms-expand {display: none;}
.deco_search{position:relative;margin-left:12px;padding-right:40px;border-radius:28px;}
.deco_search input{width:100%;padding:13px 16px 14px;border:0;}
.deco_search .btn_search{position:absolute;top:13px;right:24px;}
.inner_title .box_link{font-size:0;text-align: right;}
.inner_title .box_link > a{position:relative;display:inline-block;margin-left:41px;font-weight:500;font-size:16px;line-height:24px;color:#adb5bd;}
.inner_title .box_link > a:first-child{margin-left:0;}
.inner_title .box_link > a::before{content: "";position:absolute;top:8px;left:-20px;width:1px;height:10px;background-color: #e0e0e0;}
.inner_title .box_link > a:first-child::before{content:none;}
.inner_title .box_link > a.on{border-bottom:1px solid #5280e2;color:#5280e2;}
.cont{padding:48px;background-color:#fff;box-shadow:0 12px 40px 0 rgba(223, 226, 232, 0.5);border-radius: 20px;}
.cont h3{font-size:18px;line-height:26px;color:#000;}
.tit_cnt {display: flex;justify-content: space-between;align-items: flex-end;margin-bottom:22px;border-radius: 8px;}
.tit_cnt .box_search{display:flex;align-items: center;}
.inner_title + .cont{margin-top:26px;}
button.btn_large{padding:17px 32px;font-weight:bold;font-size:17px;line-height:20px;border-radius:12px;}
button.btn_xlarge{padding:17px 150px;font-weight:bold;font-size:17px;line-height:20px;border-radius:12px;}
button.color_primary{background-color: #343a40;color: #fff;}
button.color_secondary{border:1px solid #e9ecef;background-color: #f8f9fa;color: #343a40;}
button.color_actprimary{background-color: #5280e2;color: #fff;}
button:disabled{background-color:#e9ecef;color:#adb5bd;cursor: default;}
.both_btn{overflow:hidden;margin-top:32px;}
.both_btn .align_left{float:left;}
.both_btn .align_right{float:right;}
.both_btn div{font-size:0;}
.both_btn div .btn_large + .btn_large{margin-left:8px;}
.center_btn{margin-top:37px;text-align: center;}
.radio_type1{font-size:0;}
.radio_type1 input[type="radio"]{position:absolute;left:-9999px;}
.radio_type1 label{position:relative;display:inline-block;margin-right:30px;padding:3px 0 2px 28px;font-size:13px;line-height:15px;color:#343a40;cursor:pointer;}
.radio_type1 label:last-child{margin-right:0;}
.radio_type1 label::before{content:"";position:absolute;top:0;left:0;width:20px;height:20px;border:3px solid #e2e2e2;background-color:#fff;border-radius: 10px;box-sizing: border-box;}
.radio_type1 input:checked + label::before{border:3px solid #3b6cd5;}
.radio_type1 input:checked + label::after{content:"";position:absolute;top:6px;left:6px;width:8px;height:8px;background-color:#5280e2;border-radius: 4px;}
.check_type1 input[type="checkbox"]{position:absolute;left:-9999px;}
.check_type1 label{position:relative;padding-left:28px;font-size:15px;line-height:21px;color:#e81c10;}
.check_type1 label::after{content:"";position: absolute;top:1px;left:0;width:20px;height:20px;background:url("../images/bg_chkbox_type1.png") no-repeat left top;}
.check_type1 input:checked + label::after{background-position: left bottom;}
.input_round{height:40px;padding:8px 20px;border:1px solid #e2e2e2;border-radius:8px;transition:all .3s linear}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible{outline:0;}

footer {max-width: 1920px;margin: 0 auto;padding:56px 0 48px;background-color:#f4f6fc;text-align:center;font-size:0;}
footer span,
footer p{font-size:12px;line-height:20px;color:#999;}
footer span{display: inline-block;padding:0 7px;position:relative;}
footer span::before{content:"";display:block; width:2px;height:40%;background-color:#e6e7ea; position:absolute;top:30%;left:0;}
footer span:first-child::before{display:none}
footer .inner_partner{margin-top:15px;text-align: center;}
footer .inner_partner a{margin:0 6px;}
footer .inner_logo{margin-top:32px;text-align: center;}

/* 설정 */
/** 계정정보 **/
.cont.inner_rule{padding:47px 48px 42px;}
.list_info{margin-top:17px;}
.list_info li{display:flex;align-items:center;min-height:57px;padding:18px 0 19px;border-bottom:1px solid #e9ecef;}
.list_info li .tit{flex:none;width:140px;font-size:13px;line-height:19px;color:#999;}
.list_info li .info{flex:auto;font-weight:bold;font-size:15px;line-height:21px;color:#333;}
.list_info input[type="text"],
.list_info input[type="password"]{width:320px;margin-right:4px;}
.list_info input:focus{border-color:#5280e2}
.list_info .radio_type1 + .input_round{margin-left:12px;}
.box_info .list_info{display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap}
.box_info .list_info li:nth-child(odd){width:calc(50% - 20px);margin-right:20px;}
.box_info .list_info li:nth-child(even){width:calc(50% - 20px);margin-left:20px;}
.box_info .list_info li{justify-content: space-between;}
.box_info .list_info li .tit{width:auto}
.box_info .list_info li .info{flex:none;}


/** 약관 **/
.cont.inner_rule{padding:28px 48px 87px;}
.inner_title + .cont.inner_rule{margin-top: 24px;}
.inner_rule h4{padding:15px 0 17px;background-color: #f8f9fa;font-size:16px;line-height:24px;color:#000;text-align: center;}
.inner_rule h4 + h5{margin-top:40px;}
.inner_rule h5 + p{margin-top:23px;}
.inner_rule h5 + p{margin-top:21px;}
.inner_rule p,
.inner_rule li{font-size:14px;line-height:21px;color:#696969;}
.inner_rule p + p,
.inner_rule li + li{margin-top:8px;}
.inner_rule p.txt_desc {font-size: 13px;line-height:19px;color: #898989;}
.inner_rule p + h4,
.inner_rule ul + h4{margin-top:40px;}
.inner_rule p + h5,
.inner_rule ul + h5{margin-top:32px;}

/** 공지사항 **/
.cont.inner_notice{padding:19px 48px 70px;}
.inner_notice .deco_search{margin-left:8px;width:480px;}
.inner_notice .deco_select{min-width:244px}
.tbl_notice{table-layout: fixed;width: 100%;border-collapse: collapse;background-color: #fff;;}
.tbl_notice th div{padding:22px 20px 21px;background-color: #f4f6fc;}
.tbl_notice tr th:first-child div{padding:22px 20px 21px 40px;border-radius:8px 0 0 8px;}
.tbl_notice tr th:last-child div{padding:22px 40px 21px 20px;border-radius:0 8px 8px 0;}
.tbl_notice th div,
.tbl_notice td div{color:#343a40; text-align: center;}
.tbl_notice tr th:nth-child(3) div,
.tbl_notice tr td:nth-child(3) div{text-align: left;}
.tbl_notice th div{font-weight:500;font-size:15px;line-height:21px;}
.tbl_notice td div{overflow:hidden;padding:19px 20px 21px;font-size:13px;line-height:19px;border-bottom:1px solid #e9ecef;white-space: nowrap;text-overflow: ellipsis;}
.tbl_notice tr td:first-child div{padding:19px 20px 21px 40px;}
.tbl_notice tr td:last-child div{padding:19px 40px 21px 20px;}
.tbl_notice tr:hover td div{background-color:#f8f9fa;}
.tbl_notice tr:hover td:nth-child(3) div{color:#5280e2;cursor: pointer;}
.inner_pagination{margin-top:33px;}
.inner_pagination{font-size:0;text-align:center;}
.inner_pagination > a{display:inline-block;margin:0 2px;}
.inner_pagination ul{position:relative;top:-1px;overflow:hidden;display:inline-block;padding:0 6px;}
.inner_pagination ul li{float:left;}
.inner_pagination ul li a{display:inline-block;width:22px;height:22px;font-size:12px;line-height:22px;color:#687078;border-radius:10px;}
.inner_pagination ul li.on a{background-color:#f1f3f5;font-weight:bold;color:#212529;}

/** 공지사항 상세 **/
.inner_detail_title{padding-bottom:30px;border-bottom:1px solid #adb5bd;}
.inner_detail_title h2{font-weight:bold;font-size:22px;line-height:31px;color:#5280e2;}
.area_etc{font-size:0;}
.badge{display:inline-block;padding:0 8px;border:1px solid #e9ecef;background-color:#f8f9fa;font-size:12px;line-height:22px;color:#343a40;border-radius:4px;}
.badge + .badge{margin-right:2px;}
.inner_detail_title .area_etc + h2{margin-top:16px;}
.inner_detail_title h2 + .area_etc{margin-top:9px;}
.inner_detail_title .txt_date{font-size:13px;line-height:15px;color:#343a40;}
.inner_editor{padding:20px 0;}
.inner_file{padding:20px 0;border-top:1px solid #e9ecef;border-bottom:1px solid #e9ecef;}
.inner_file img{margin-right:12px;}
.inner_file a{display:inline-block;margin-right:24px;font-weight:500;font-size:15px;line-height:20px;color:#2e5bbb;text-decoration:underline;}

/** 회원 탈퇴 **/
.box_caution{margin:24px 0 40px;padding:56px 0;background-color:#f8f9fa;text-align:center;}
.box_caution p{font-weight:500;font-size:15px;line-height:21px;color:#333;}

/** 자주 묻는 질문 **/
.cont.inner_notice{padding:28px 48px 70px;}
.inner_notice .deco_select{min-width:480px}
.list_faq{overflow:hidden;border:1px solid #e9ecef;background-color:#fff;border-radius:8px;}
.list_faq .box_faq{border-top:1px solid #e9ecef;}
.list_faq .box_faq:first-child{border-top:0;}
.list_faq .box_faq .tit{position:relative;padding:22px 70px 22px 32px;}
.list_faq .box_faq .tit::after{content:"";position:absolute;top:21px;right:32px;width:24px;height:24px;border:1px solid #f3f3f3;background:#fff url("../images/icon_faq_dft.png") no-repeat center;}
.list_faq .box_faq:hover .tit::after{border:0;background:url("../images/icon_faq_hover.png") no-repeat center;}
.list_faq .box_faq.open .tit::after{border:0;background:#5280e2 url("../images/icon_faq_open.png") no-repeat center;border-radius:4px;}
.list_faq .box_faq .tit p{font-size:15px;line-height:24px;color:#343a40;}
.list_faq .box_faq:hover .tit{background-color:#f8f9fa;}
.list_faq .box_faq:hover .tit p{color:#5280e2;}
.list_faq .box_faq .tit span{display:inline-block;width:108px;font-size:15px;line-height:22px;color:#868e96;}
.list_faq .box_faq .answer{overflow:hidden;height:0;}
.list_faq .box_faq .answer .in{padding:31px 32px 33px 140px;background-color:#f8f9fa;}
.list_faq .box_faq .answer p{font-size:14px;line-height:21px;color:#343a40;}
.list_faq .box_faq .answer a{display:inline-block;margin:8px 8px 0 0;font-weight:bold;font-size:14px;line-height:21px;color:#5280e2;}
.list_faq .box_faq.open .answer{height:auto;}

















/* 조건을 모르겠어서 일단 그냥 임시로 넣어둠 */
@media screen and (max-width: 1400px) {
    .container{width:94.7916vw;}
}
@media screen and (max-width: 1024px) {
    .inner_gnb {text-align: right;}
    .inner_title{height:80px;}
    .inner_title .tit_sub{display:none}
    /* 설정 */
    /** 계정정보 **/
    .box_info .list_info li:nth-child(odd),
    .box_info .list_info li:nth-child(even){width:100%;margin:0 0 0 0;}

}